@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
* {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    color: #6e6e6e;
}

h1, h2, h3, h4, h5 {
    font-family: "poppins-semibold", sans-serif;
    color: #313131;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 600;
}

.top_bar {
    background-color: #131313;
    position: absolute;
    left: 90px;
    min-width: 220px;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    position: relative;
    float: left;
}

.hamburger-menu {
    display: none;
}

.btn-menu {
    cursor: pointer;
}

.toggle {
    width: 24px;
}

.btn-menu span {
    display: block;
    height: 3px;
    background-color: #6d065c;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.navbar li {
    padding: 15px 0;
}

.navbar li a {
    color: #ffffff;
    padding-left: 25px;
}

.navbar li a:hover {
    color: #6d065c;
    padding-left: 35px;
}

a {
    transition: all 0.3s ease-out;
}

.navbar {
    font-family: "poppins-medium", sans-serif;
    font-size: 1.7rem;
    position: absolute;
    left: 0;
    padding: 0;
    width: 100%;
    top: -183px;
    list-style: none;
    background-color: #121212;
    transition: top .2s;
}

span.first {
    margin-top: 0;
}

.hamburger-menu:checked~.navbar {
    top: 66px;
}

.hamburger-menu:checked~.btn-menu span.first {
    transform: rotate(45deg);
    top: 8px;
}

.hamburger-menu:checked~.btn-menu span.second {
    opacity: 0;
}

.hamburger-menu:checked~.btn-menu span.third {
    transform: rotate(-45deg);
    top: -8px;
}

#home {
    background: #f5f2ec url(../img/main.jpg) no-repeat center;
    height: 100%;
    min-height: 700px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.developing {
    text-align: end;
    padding-right: 1rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.home-content .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    color: #6d065c;
    font-family: "poppins-bold", sans-serif;
    text-transform: uppercase;
    padding: 4rem 0;
}

.home-content h1 {
    color: #ffffff;
    font-family: "poppins-bold", sans-serif;
    font-size: 8rem;
    line-height: 1.2;
}

.home-content h5 {
    padding-bottom: 0;
}

.position {
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    margin-bottom: 4rem;
}

.position span::after {
    content: "|";
    padding: 0 8px;
    color: #746f6f;
}

.position span:first-child::before {
    content: "|";
    padding-right: 8px;
    color: #746f6f;
}

.button {
    border: 3px solid #746f6f;
    font-family: "poppins-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2rem 4rem;
}

.button:hover {
    border-color: #6d065c;
}

.home-social {
    list-style: none;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 0;
}

.home-social li a {
    color: #FFFFFF;
    margin: 0 20px;
}

.home-social li a:hover {
    color: #6d065c;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

section .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

section .row h5 {
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: .4rem;
}

section .row h2 {
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #313131;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

#about img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin: 2rem 0;
    float: left;
}

.experience-wrap {
    line-height: 3rem;
    width: 81%;
}

.experience-icon::after {
    content: "";
    display: block;
    width: 1px;
    height: 10rem;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
}

p.introduction {
    font-size: 2rem;
    line-height: 1.8;
    color: #888888;
}

section .about-content {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}

.about-content h3 {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin: 2rem 0;
}

.info-list {
    list-style: none;
}

.info-list, .skill-bars {
    padding: 0;
}

.about-content .info-list li strong, .skill-bars li strong {
    font-family: "poppins-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.about-content .info-list li span {
    display: block;
    font-family: "poppins-regular", sans-serif;
    color: #888888;
    font-size: 1.5rem;
    line-height: 1;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.25;
}

.resume-header h4 {
    color: #6d065c;
}

#resume {
    background: #ebebeb;
    padding-bottom: 2rem;
}

#resume .experience-icon {
    height: 4.8rem;
    width: 4.8rem;
    line-height: 5.8rem;
    background: #313131;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    margin: 0px 4rem;
}

.fa-briefcase, .fa-graduation-cap {
    font-size: 2.2rem;
}

.experience-header h3 {
    font-size: 2rem;
}

.experience-content h4 {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1.8rem;
}

.experience-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 2rem;
}

.experience-block {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.experience-header, .experience-icon, .experience-content {
    width: 33%;
}

.portfolio-item {
    width: 50%;
    overflow: hidden;
    padding: 5rem;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item-title {
    position: relative;
    bottom: 200px;
    text-align: center;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.portfolio-item:hover .portfolio-item-title {
    visibility: visible;
}

.portfolio-item:hover .overlay {
    background-color: #111111;
    opacity: 0.2;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer {
    background-color: #121212;
    height: 6rem;
}

footer .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-social {
    list-style: none;
    font-size: 3rem;
    display: flex;
    padding: 0;
}

.footer-social li a {
    color: #FFFFFF;
    margin: 0 20px;
}

.footer-social li a:hover {
    color: #6d065c;
}

.copyright {
    color: #ffffff;
}