.wrapper {
    width: 300px;
    height: 300px;
    position: relative;

    /* overflow: hidden; */
}

.slide, .slide img {
    width: 300px;
    height: 300px;
}

.slider {
    width: 900px;
    position: relative;
}

.slide {
    float: left;
}

.slide img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.button {
    position: relative;
}